* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #2196f3;
}

.navbar {
    background-color: #ff5722;
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
}

.card-header {
    font-size: 24px;
    /* เพิ่มขนาดฟอนต์ส่วนหัวของการ์ด */
}

.form-group label,
.form-group .form-control {
    font-size: 20px;
    /* เพิ่มขนาดตัวอักษรของฉลากและช่องใส่ */
}